@model SmartRental.DTO.LoginDTO

@{
    ViewData["Title"] = "Login";
}

<div class="sr-auth-page">

    <div class="sr-auth-card">

        <h2 class="sr-title">Welcome Back</h2>

        <p class="sr-subtitle">
            Login to your account
        </p>

        <form asp-action="Login"
              asp-controller="Account"
              method="post"
              class="sr-form">

            @Html.AntiForgeryToken()

            <div asp-validation-summary="ModelOnly"
                 class="text-danger">
            </div>

            <input asp-for="Email"
                   class="sr-input"
                   placeholder="Email Address" />

            <span asp-validation-for="Email"
                  class="text-danger"></span>


            <input asp-for="Password"
                   type="password"
                   class="sr-input"
                   placeholder="Password" />

            <span asp-validation-for="Password"
                  class="text-danger"></span>


            <button type="submit"
                    class="sr-btn-primary">
                Login
            </button>

        </form>

        <p class="sr-footer-text">
            Don't have an account?
            <a asp-controller="Account"
               asp-action="Register">
                Sign Up
            </a>
        </p>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}